body{
background-image: url("resurse/3.jpg");
background-position: left;
background-size:auto;
background-position:center;
font-family: Georgia, times, serif;
line-height: 1.4em;
margin:40px;
}

.wrapper{
width: auto;
height: 2000px;
margin:10px auto 20px auto;
}
header{
margin-top: 10px;
width: auto;
height: 100px;
background-size:cover;

}
header h1{
color:#f5f5f5e8;
width: auto;
height: 10px;
background-position:center;
text-align: center;
text-shadow: 5px 5px #1e18187d;
}

figure{
box-shadow: 10px 20px #2914498c;
background-color:#170808d6;
background-position:center;
height: auto;
columns: 100px 3;
grid-gap: 0px;
text-align:center;
border-radius: 100px;
}

div p{
color: #ffffff8f;
}
nav ul {
	width:auto;
	text-align: center;
	padding: 5px 0px 5px 30px;	
}

nav li {
	text-align: center;
	display: inline;
	margin-right: 40px;	
}

nav li a {
	color: #ffeded;
	margin-right: 40px;	
}

nav li a:hover {
	color: #e8a7a7b0;
}